Repository hmcts/atlassian-infrastructure, pull requests merged in 2025-02, with the labels that each got.

#54 DTSPO-23646 - Adding Rewrite Ruleset to match current PRP env
  components/general/app-gateway.tf
  components/general/inputs-optional.tf
  environments/nonprod/nonprod.tfvars
Labels: nonprod_general - TerraformPlanApply/add-or-update

#55 DTSPO-23191 adding flex server for migration
  components/general/db.tf
  components/general/inputs-optional.tf
Labels: nonprod_general - TerraformPlanApply/add-or-update

#56 DTSPO-23191 - adding missing private_dns_zone_id
  components/general/db.tf
Labels: nonprod_general - TerraformPlanApply/add-or-update

#57 DTSPO-23191 - Deploy new subnet for flex server
  components/general/db.tf
  environments/nonprod/nonprod.tfvars
Labels: nonprod_general - TerraformPlanApply/add-or-update

#58 DTSPO-23191 - updating scripts for flex server migration
  components/general/db.tf
  components/general/scripts/configure-jira-vm.sh
  components/general/vm.tf
  environments/nonprod/nonprod.tfvars
Labels: nonprod_general - TerraformPlanApply/destroy

#60 DTSPO-23191 - updating jira username
  components/general/scripts/configure-jira-vm.sh
  components/general/vm.tf
Labels: nonprod_general - TerraformPlanApply/destroy

#62 DTSPO-23913 - Staging redeploy and imports.
  components/general/import.tf
  components/general/scripts/configure-gluster-vm.sh
  components/general/scripts/configure-jira-vm.sh
  components/general/scripts/functions.sh
  environments/nonprod/nonprod.tfvars
Labels: nonprod_general - TerraformPlanApply/destroy

#63 DTSPO-23913 - Build of initial Atlassian prod infrastructure
  azure-pipelines.yaml
  components/general/app-gateway.tf
  components/general/db.tf
  components/general/disk.tf
  components/general/import.tf
  components/general/init.tf
  components/general/inputs-required.tf
  components/general/keyvault.tf
  components/general/load_balancer.tf
  components/general/networking.tf
  components/general/scripts/configure-confluence-vm.sh
  components/general/scripts/configure-crowd-vm.sh
  components/general/scripts/configure-gluster-vm.sh
  components/general/scripts/configure-jira-vm.sh
  components/general/scripts/configure-postgres.sh
  components/general/scripts/functions.sh
  components/general/scripts/new-access.sh
  components/general/scripts/restore-vms.sh
  components/general/vm-nic.tf
  components/general/vm.tf
  components/general/vnet-peering.tf
  environments/nonprod/nonprod.tfvars
  environments/prod/prod.tfvars
Labels: nonprod_general - TerraformPlanApply/destroy, prod_general - TerraformPlanApply/destroy

#64 DTSPO-24311 - Add RSV and backup policies
  components/general/app-gateway.tf
  components/general/backups.tf
  components/general/db.tf
  components/general/load_balancer.tf
  components/general/public-ip.tf
  components/general/resource-group.tf
  components/general/vnet-peering.tf
  environments/prod/prod.tfvars
Labels: nonprod_general - TerraformPlanApply/add-or-update, prod_general - TerraformPlanApply/add-or-update

#65 DTSPO-23913 - Setting rewrite to case sensitive
  components/general/scripts/configure-jira-vm.sh
  components/general/scripts/robots_template.txt
  environments/nonprod/nonprod.tfvars
  environments/prod/prod.tfvars
Labels: nonprod_general - TerraformPlanApply/destroy, prod_general - TerraformPlanApply/destroy

#66 DTSPO-24311 - Temp disassociate VMs from backup policies
  components/general/backups.tf
Labels: nonprod_general - TerraformPlanApply/add-or-update, prod_general - TerraformPlanApply/destroy

#67 DTSPO-24311 - Enable RSV in stg
  components/general/backups.tf
Labels: nonprod_general - TerraformPlanApply/destroy, prod_general - TerraformPlanApply/destroy

#69 DTSPO-24225 - Atlassian Prod migration
  components/general/scripts/configure-confluence-vm.sh
  components/general/scripts/configure-crowd-vm.sh
  components/general/scripts/configure-gluster-vm.sh
  components/general/scripts/configure-jira-vm.sh
  components/general/scripts/configure-postgres.sh
  components/general/scripts/functions.sh
  components/general/scripts/restore-vms.sh
  environments/prod/prod.tfvars
Labels: nonprod_general - TerraformPlanApply/destroy, prod_general - TerraformPlanApply/destroy
