Repository hmcts/atlassian-infrastructure, pull requests merged in 2025-03, with the labels that each got.

#70 DTSPO-24225 - triggering db setup script
  components/general/db.tf
  components/general/scripts/configure-jira-vm.sh
  components/general/scripts/configure-postgres.sh
Labels: nonprod_general - TerraformPlanApply/destroy, prod_general - TerraformPlanApply/destroy

#71 DTSPO-24225 - Tidy up, removing atlassian restart flag
  components/general/db.tf
  environments/prod/prod.tfvars
Labels: nonprod_general - TerraformPlanApply/destroy, prod_general - TerraformPlanApply/destroy

#73 Dtspo 24291 testing dynatrace extension
  azure-pipelines.yaml
  components/general/extensions.tf
  components/general/init.tf
  components/general/inputs-optional.tf
  components/general/vm-nic.tf
  components/general/vm.tf
Labels: nonprod_general - TerraformPlanApply/add-or-update, prod_general - TerraformPlanApply/add-or-update

#74 DTSPO-24291 testing dynatrace extension on atlassian vm
  components/general/extensions.tf
  components/general/inputs-optional.tf
  components/general/vm.tf
  environments/nonprod/nonprod.tfvars
Labels: nonprod_general - TerraformPlanApply/add-or-update, prod_general - TerraformPlanApply/add-or-update

#72 DTSPO-24225 -Enabling backups in prod
  components/general/backups.tf
Labels: nonprod_general - TerraformPlanApply/add-or-update, prod_general - TerraformPlanApply/add-or-update

#61 DTSPO-24291 adding dynatrace extension non-prod
  components/general/extensions.tf
  components/general/vm-nic.tf
Labels: nonprod_general - TerraformPlanApply/destroy, prod_general - TerraformPlanApply/add-or-update

#78 DTSPO-24511 - Add affinity based cookie name
  components/general/app-gateway.tf
  components/general/db.tf
  components/general/inputs-required.tf
  environments/nonprod/nonprod.tfvars
  environments/prod/prod.tfvars
Labels: nonprod_general - TerraformPlanApply/add-or-update, prod_general - TerraformPlanApply/destroy

#79 DTSPO-24512 adding function to change ntp servers to azure servers
  azure-pipelines.yaml
  components/general/scripts/configure-confluence-vm.sh
  components/general/scripts/configure-crowd-vm.sh
  components/general/scripts/configure-gluster-vm.sh
  components/general/scripts/configure-jira-vm.sh
  components/general/scripts/functions.sh
Labels: nonprod_general - TerraformPlanApply/destroy

#80 DTSPO-24513 - robots.txt blank line
  azure-pipelines.yaml
  components/general/scripts/configure-jira-vm.sh
Labels: nonprod_general - TerraformPlanApply/add-or-update, prod_general - TerraformPlanApply/destroy

#81 DTSPO-24512 changing ntp scripts to run on all environments
  components/general/scripts/configure-confluence-vm.sh
  components/general/scripts/configure-crowd-vm.sh
  components/general/scripts/configure-gluster-vm.sh
  components/general/scripts/configure-jira-vm.sh
Labels: nonprod_general - TerraformPlanApply/destroy, prod_general - TerraformPlanApply/destroy
